*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin-top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin: 150px;
    margin-top: 1px;

}
h1 {
    font-family: sans-serif;
    font-size: 20px;
}
h2 {
    font-family: sans-serif;
    font-size: 10px;
}
.background {
    background-color: #E4E9ED;
}
.container{
    width: 200px;
    position: relative;
}