body {
  background-color: aliceblue;
  font-family: "Courier New", Courier, monospace !important;
  color: #65468b;
  font-size: 20px;
}
.small {
  background: #ccc;
}
.text_direction {
  text-indent: 60%;
}

.row .progress {
  border-radius: 5px ;
  height: 10px;
}

.row .pr1 {
  background:#BFCEFF;
}
.row .pr2 {
  background:#5580FF;
}
.row .pr3 {
  background:#FF8A73;
}
.row .pr4 {
  background: #BFCEFF;
}
.img-responsive{
  margin-top: -60px;
  height: 360px;
  width: 50%;
  margin-left: 30%;
}

h1{
  margin-left: 9%;
} 